{block}
<div class="block delete_confirm">

    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>

        <h2>{n "Do you really want to delete this record?", $records}</h2>
    </div>

    <div class="block_content">

	{!$form}

    </div>

    <div class="bendl"></div>
    <div class="bendr"></div>

</div>

{/block}
